// mobile scroll fix
html.has-scroll-smooth {
  overflow: hidden;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

// theme
.light-mode {
  --foregroundColor: var(--black);
  --backgroundColor: var(--lightGrey);
}
body {
  background: var(--backgroundColor);
  color: var(--foregroundColor);
  transition: background 0.3s ease-out, color 0.3s ease-out;
}

a {
  color: var(--foregroundColor);
}

button {
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  color: var(--foregroundColor);
}

/* For hiding scoll bar */
::-webkit-scrollbar {
  display: none;
}

.section-slide {
  width: 100%;
  height: 100%;
  flex: 0 0 auto;
  position: relative;
  background: var(--backgroundColor);
  overflow: hidden;
  // &.case-study-slide {
  //   background: transparent;
  // }
  &.extended {
    width: 110%;
  }
  @media only screen and (min-width: 300px) and (max-width: 1180px) {
    height: 100vh;
    flex: auto;
    display: block;
    &.extended {
      width: 100%;
      height: 110vh;
    }
  }
}
