:root {
  // colors
  --black: #000000;
  --white: #ffffff;
  --lightGrey: #e5e5e5;
  --purple: #4924f5;
  // theme
  --darkColor: var(--black);
  --lightColor: var(--white);
  --primaryColor: var(--purple);
  --foregroundColor: var(--white);
  --backgroundColor: var(--black);
  // header
  --headerHeight: 80px;
  --genSpacing: 25px;
  // font sizes
  --xxl: 23vmin;
  --xl: 17vmin;
  --l: 15vmin;
  --m: 13vmin;
  --s: 11vmin;
  --p: 3.5vmin;
}
@media screen and (max-width: 900px) {
  :root {
    --m: 10vmin;
  }
}
@media screen and (max-width: 600px) {
  :root {
    --m: 9.5vmin;
    --p: 20px;
  }
}

// ========================================
// Colors
// ========================================
$black: #000000;
$white: #ffffff;

$primary: indianred;

// ========================================
// Screen sizes
// ========================================
$mobile: 480px;
$tablet: 769px;
$desktop: 1000px;
$fullhd: 1384px;

$headerHeight: 80px;
